<div ng-include="'partials/navbar.html'"></div>


<h1>Hello, <span ng-show="currentUser">{{ currentUser.name }}</span>!</h1>

<div class = "row marketing">
    <h2>User Information</h2>
    <p>UserID: {{user._id}}</p>
    <p>UserName: {{user.name}}</p>
    <p>Email: {{user.email}}</p>
    <p>FollowedSites: {{user.followedSites}}</p>
</div>

<div class = "row marketing">
  <h2>Your Followed Sites</h2>
  <div ng-repeat = "site in user.followedSites" ng-init="siteInfo = getInfo(site)">
    {{siteInfo.site}}
    {{site.siteURL}}
    {{site}}
    {{followedSites}}
    
  </div>
</div>

<div class = "row marketing">
	<h3>Sites</h3>
	<div ng-repeat = "site in sites | 
		orderBy:'followers':true">
		<h3>Site:{{site.site}}</h3>
		<button type = "submit" class = "btn btn-default" ng-click="follow(site)">Follow Site</button>
    <button type = "submit" class = "btn btn-danger" ng-click = "unfollow(site)">Unfollow Site</button>
	</div>
</div>