<div ng-include="'partials/navbar.html'"></div>

<div class="row" ng-controller="SettingsCtrl">
  <div class="col-sm-12">
    <h1>Change Password</h1>
  </div>
  <div class="col-sm-12">
    <form class="form" name="form" ng-submit="changePassword(form)" novalidate>
    	
      <div class="form-group">
        <label>Current Password</label>

        <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
               mongoose-error/>    
        <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.other }}
        </p>
      </div>

      <div class="form-group">
        <label>New Password</label>

        <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword" 
               ng-minlength="3"
               required/>
        <p class="help-block"
           ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
          Password must be at least 3 characters.
        </p>
      </div>

      <p class="help-block"> {{ message }} </p>

      <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
    </form>
  </div>
</div>


<h1>Your sites</h1>


<div ng-controller="ModalCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h2>Sites</h2>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>

            <ul>
                <li ng-repeat="site in sites">
                    {{ site.siteURL }}
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>

        <div>
          <h4>Checkbox</h4>
            <div class="btn-group" >
                <button type="button" class="btn btn-primary" ng-repeat="site in sites" btn-checkbox ng-model="site.checkModel">{{site.siteURL}}</button>

              
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button class="btn btn-default" ng-click="open()">Open me!</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>


</div>

<br><br>
<!--
<div ng-controller="AccordionDemoCtrl">
  <label class="checkbox">
    <input type="checkbox" ng-model="oneAtATime">
    Open only one at a time
  </label>

  <accordion close-others="oneAtATime">
    <accordion-group heading="Static Header, initially expanded" is-open="true">
      This content is straight in the template.
    </accordion-group>
    <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
      {{group.content}}
    </accordion-group>
    <accordion-group heading="Dynamic Body Content">
      <p>The body of the accordion group grows to fit the contents</p>
        <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
        <div ng-repeat="item in items">{{item}}</div>
    </accordion-group>
    <accordion-group is-open="isopen">
        <accordion-heading>
            I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
        </accordion-heading>
        This is just some content to illustrate fancy headings.
    </accordion-group>
  </accordion>
</div>
-->
